*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom, lightgreen, green);
    height: 36.3em;
}

header{
    text-align: center;
    height: 5em;
    margin-top: 3em;
}

header > h1{
    font: bold normal 1.5em 'Courier New', Courier, monospace;
    color: black;
}

article{
    text-align: center;
    margin: auto;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    width: 50%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 1em 0em 1em 0em;
}

h2{
    font: normal normal 1em 'Courier New', Courier, monospace;
    color: black; 
    padding-bottom: 2.5em;
}

article > div > p{
    font: normal normal 0.85em 'Courier New', Courier, monospace;
    color: black;
}

footer{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

footer > p{
    font: bold normal 1em 'Courier New', Courier, monospace;
    color: black;
}

input{
    width: 9em;
    font: normal normal 0.85em 'Courier New', Courier, monospace;
    color: black;
}

#slc_valores{
    margin-top: 2em;
}

.botao{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1.3em;
    height: 2.4em;
    width: 10em;
    font: normal normal 0.9em 'Courier New', Courier, monospace;
    color: black;
    background-color: lightgreen;
    border-radius: 0.5em;
    box-shadow: 0.4em 0.3em green;
}

.botao:hover{
    background-color: lightgreen;
    box-shadow: 0.4em 0.3em green;
    color:whitesmoke;
    transition-duration: 0.2s;
    cursor: pointer;
}