*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #FFDF00;
}

div#div-header-fl{
    width: 45em;

    margin: auto;
    padding-top: 1.5em;

    border-bottom: 0.4em solid black;
}

img#img-header-logo{
    border-top: 0.4em solid black;
    border-left: 0.4em solid black;

    vertical-align: bottom;
}

h1#h1-ttl-header{
    font: bold normal 2rem Helvetica,Arial,sans-serif;
    color: black;

    padding-left: 0.75em;

    display: inline-block;
}

h2#h2-stt-header{
    font: normal normal 1.25rem Helvetica,Arial,sans-serif;

    width: 45em;

    margin: auto;
    padding-left: 10.2em;
    padding-bottom: 2em;

    text-align: center;
}

main{
    background-color: black;
    height: 54.2vh; /* Altura temporária enquanto as divs não "encherem" a altura*/
}

div#div-uls-container{
    width: 100%;

    margin: auto;

    display: flex;
    justify-content: space-between;
}

div.div-uls-column{
    width: 25%;

    display: inline-block;
}

ul.ul-links-main{
    list-style: circle;
    color: #FFDF00;

    padding: 2em 2em;
}

li{
    font: normal normal 1rem Helvetica,Arial,sans-serif;

    margin-top: 1em;
    margin-left: 3em;
}

a{
    color: #FFDF00;
    text-decoration: none;
}

a:hover{
    background-color: #FFDF00;
    color: black;

    transition-duration: 0.5s;
}

footer{
    background-color: #FFDF00;
}

h2#h2-autor-footer{
    font: bold normal 1.2rem Helvetica,Arial,sans-serif;

    padding: 1em 0em;

    text-align: center;
}