*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom, lightblue, royalblue);
    height: 36.3em;
}

header{
    text-align: center;
    height: 5em;
    margin-top: 3em;
}

header > h1{
    font: bold normal 1.5em 'Courier New', Courier, monospace;
    color: black;
}

article{
    text-align: center;
    margin: auto;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    width: 50%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 1em 0em 1em 0em;
}

h2{
    font: normal normal 1em 'Courier New', Courier, monospace;
    color: black; 
    padding-bottom: 2.5em;
}

#img_tempo{
    margin: auto;
    width: 7.5em;
    height: 7.5em;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5em 5em 5em 5em;
}

footer{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

footer > p{
    font: bold normal 1em 'Courier New', Courier, monospace;
    color: black;
}